<section id="download" class="download bg-primary text-center">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <h2 class="section-heading">Find your ideal rooms with affordable rate now!</h2>
                <!-- <p>Our app is available on any mobile device! Download now to get started!</p> -->
                <p>Our app is available in Android Play Store now! Download now to get started!</p>
                <div class="badges">
                    <a class="badge-link" href="https://play.google.com/store/apps/details?id=com.williamchau.murahstay"><img src="https://williamchau0210.github.io/murah-stay/img/google-play-badge.svg" alt=""></a>
                    <!-- <a class="badge-link" href="#"><img src="/img/app-store-badge.svg" alt=""></a> -->
                </div>
            </div>
        </div>
    </div>
</section>
